.Display {
  flex-direction: column;
  thead, tbody, th, td {
    border: 1px solid #424242; // mui color
  }
  th, td {
    min-width: 1.5rem;
    text-align: center;
    text-shadow: -2px 1px 4px black;
    font-weight: normal;
  }
  .mainOp {
    border: 1px solid white; // mui color #7986cb
  }

  .Card {
    padding: 0.15rem;
    margin: 0.5rem;
  }

  .EditorSchema {

  }
  .SavedSchema {

  }
}