.Display {
  flex-direction: column;
  thead, tbody, td, th {
    border: 1px solid #424242; // mui color
  }
  th, td {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    text-shadow: -2px 1px 4px black;
    font-weight: normal;
  }
  
  .mainOp {
    border: 1px solid white; // mui color #7986cb
    height: calc(1.5rem - 2px);
  }

  .Card {
    padding: 0.15rem;
    margin: 0.5rem;
  }

  .tableButton {
    background-color: #757575; // mui
    &:hover {
      background-color:#424242; // mui
    }
    &:active {
      background-color:#757575;
    }
  } 
}
