.DnDElement {
  width: calc(3.5rem - 6px);
  height: calc(3.5rem - 6px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  text-shadow: 2px 2px 2px black;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-3deg); }
  25% { transform: rotate(-1deg) };
  50% { transform: rotate(0deg); }
  75% { transform: rotate(1deg); }
  80% { transform: rotate(3deg);}
  100% { transform: rotate(0deg); }
}

.DnDElement:hover {
  border-width: 2px;
  animation: wiggle 0.5s;
}